@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul, li {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a,
a:hover {
  text-decoration: none; }

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  outline: none !important; }

body {
  -webkit-text-size-adjust: none;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased; }

button,
input[type=cancel],
input[type=reset],
input[type=submit]:hover {
  cursor: pointer; }

input[type=file],
input[type=password],
input[type=submit],
input[type=text],
input[type=email],
input[type=search],
textarea,
select {
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  overflow: auto; }

select::ms-expand {
  display: none; }

input::-ms-clear {
  display: none; }

/**************
END RESETT CSS
****************/
@font-face {
  font-family: "PTSans";
  src: url("../font/PT-Sans/PTSans-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700; }
@font-face {
  font-family: "PTSans";
  src: url("../font/PT-Sans/PTSans-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400; }
@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto/Roboto-Black.woff") format("woff");
  font-style: normal;
  font-weight: 900; }
@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto/RobotoBold.woff") format("woff");
  font-style: normal;
  font-weight: 700; }
@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto/Roboto-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500; }
@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto/Roboto.woff") format("woff");
  font-style: normal;
  font-weight: 400; }
@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto/Roboto-Light.woff") format("woff");
  font-style: normal;
  font-weight: 300; }
@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto/Roboto-Thin.woff") format("woff");
  font-style: normal;
  font-weight: 200; }
:root {
  --roboto: "Roboto", sans-serif;
  --ptsans: "PTSans", sans-serif;
  --blue: #0081c6;
  --blue-light: #91c8e3;
  --black: #222121;
  --black-bg: #222933;
  --black-light: rgba(34, 33, 33, .6);
  --grey-light: rgba(0, 0, 0, .02);
  --grey-bg: #f9f9f9;
  --brown-light: #d9d9d9;
  --grey: #dfe5ed;
  --grey-dark: #717b87;
  --green: #00e991; }

html, body {
  min-height: 100%; }

html {
  font-size: 16px; }

body {
  background-color: #fff;
  font-family: var(--roboto);
  color: var(--black); }

img {
  max-width: 100%; }

a {
  color: var(--black);
  -webkit-transition: all .2s;
  transition: all .2s; }

.wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.container {
  width: 100%;
  max-width: 1410px;
  padding: 0 20px;
  margin: 0 auto; }

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto; }

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto; }

.flex {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .flex--wrap {
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap; }
  .flex--center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .flex--between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.btn {
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  font-family: var(--ptsans);
  background-color: var(--blue);
  color: #fff;
  border: 2px solid var(--blue);
  border-radius: 20px;
  padding: 1em 1.5em;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-transition: all .3s;
  transition: all .3s; }
  .btn:hover {
    background-color: #fff;
    color: var(--black); }
  .btn--lt {
    padding: .65em 1.3em; }
  .btn--border {
    background-color: #fff;
    color: var(--black); }
    .btn--border:hover {
      background-color: var(--blue);
      color: #fff; }
  .btn--flex {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .btn--flex .ico {
      margin-right: .5em; }

.ico {
  display: inline-block;
  width: 1em;
  height: 1em; }
  .ico svg {
    width: 100%;
    height: 100%; }

/* Firefox 19+ */
/* Firefox 18- */
/* хром, сафари */
.element::-webkit-scrollbar {
  width: 0; }

/* ie 10+ */
.element {
  -ms-overflow-style: none; }

/* фф (свойство больше не работает, других способов тоже нет)*/
.element {
  overflow: -moz-scrollbars-none; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  outline: none;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff slick-image-url("../img/icons/ajax-loader.gif") center center no-repeat; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

/*Header*/
.header {
  padding: 0 20px 0; }

.header__top {
  background-color: var(--grey-light); }

.header__top__contact__item {
  color: var(--blue);
  margin-right: 5rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .header__top__contact__item .ico {
    margin-right: .5em; }
  .header__top__contact__item:hover {
    color: var(--black); }
  .header__top__contact__item--lg {
    font-size: 1.125em;
    color: var(--black);
    font-weight: 700; }
    .header__top__contact__item--lg .ico {
      color: var(--blue); }
    .header__top__contact__item--lg:hover {
      color: var(--blue); }

.header__top__menu li {
  padding: 1.5em 1.5em;
  font-family: var(--ptsans);
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .header__top__menu li.dropdown-link > a::after {
    content: '';
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: .625em;
    height: .4375em;
    background: transparent url("../img/icons/arrow-down_blue.svg") left top no-repeat;
    background-size: contain;
    margin-left: .5em;
    -webkit-transform: translateY(0.1em);
            transform: translateY(0.1em); }
  .header__top__menu li > a:hover {
    color: var(--blue); }
  .header__top__menu li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%; }

@media (min-width: 1200px) {
  .dropdown-link:hover > a {
    color: var(--blue); }
  .dropdown-link:hover .header__top__submenu {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    visibility: visible; } }
.header__top__submenu {
  position: absolute;
  top: 100%;
  left: 1.5em;
  width: 11em;
  border: 1px solid #0c87c9;
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s;
  transition: all .3s; }
  .header__top__submenu li {
    padding: 0; }
    .header__top__submenu li:last-child a {
      border-bottom: none; }
    .header__top__submenu li a {
      display: block;
      background-color: var(--blue);
      font-size: 1rem;
      color: #fff;
      padding: .6em 1.8em;
      border-bottom: 1px solid #0c87c9; }
      .header__top__submenu li a:hover {
        background-color: #fff;
        color: var(--black); }

.header__top__btns .btn:not(:first-child) {
  margin-left: 10px; }

/*Footer*/

/*# sourceMappingURL=style.css.map */