/*Footer*/ 
.footer{
	position: relative;
	background-color: var(--black-bg);
	color: #fff;
	z-index: 1;
	a{
		color: #fff;
	}
}
.footer__left{
	width: 260px;
}
.footer__right{
	width: calc(100% - 260px);
}
.footer__contact{
	h4{
		font-size: 1.5rem;
		font-weight: 500;
		margin-bottom: 1em;
	}
}
.address,
.footer__contact__item{
	font-size: 1.125rem;
	line-height: 1.6;
}
.footer__contact__item{
	display: flex;
	flex-direction: column;
	margin-top: 1em;
	a{
		&:hover{
			color: var(--blue);
		}
	}
}
.footer__options{
	h4{
		font-size: 1.5rem;
		font-weight: 200;
		margin-bottom: .75em;
	}
	.social{
		margin-bottom: 3em;
	}
}
.copyright{
	font-size: .875rem;
}
#overlay{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(#0081c6, .57);
	z-index: 20;
	display: none;
}
.popup{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -100%);
	width: 90%;
	max-width: 525px;
	opacity: 0;
	visibility: hidden;
	transition: all .3s;
	z-index: 25;
	&.active{
		transform: translate(-50%, -50%);
		opacity: 1;
		visibility: visible;
	}
	.agree{
		text-align: center;
		line-height: 1.5;
		a{
			color: var(--blue);
			&:hover{
				color: var(--black);
			}
		}
	}
}
.popup__close{
	width: 35px;
	height: 35px;
	border-radius: 5px;
	background-color: #d4eaf5;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	left: 100%;
	bottom: 100%;
	svg{
		width: 12px;
		height: 12px;
	}
	&:hover{
		color: #fff;
		background-color: var(--blue);
	}
}
.callback-popup__title{
	background-color: var(--blue);
	text-align: center;
	color: #fff;
	font-size: 1.5rem;
	padding: 1em;
}
.callback-popup__content{
	background-color: #d4eaf5;
	padding: 1em 3em 2em;
	form{
		width: 100%;
	}
}
.popup__input{
	display: block;
	width: 100%;
	height: 45px;
	font-size: 16px;
	color: #000;
	border: none;
	border-bottom: 2px solid rgba(#222121, .26);
	margin-bottom: 15px;
	background-color: transparent;
	border-radius: 0;
	appearance: none;
	outline: none;
	&::-webkit-input-placeholder {color: var(--black);font-family: var(--ptsans);font-size: 16px;  }
	&::-moz-placeholder          {color: var(--black);font-family: var(--ptsans);font-size: 16px;  } /* Firefox 19+ */
	&:-moz-placeholder           {color: var(--black);font-family: var(--ptsans);font-size: 16px;  } /* Firefox 18- */
	&:-ms-input-placeholder      {color: var(--black);font-family: var(--ptsans);font-size: 16px;  }
}
.popup__submit{
	display: block;
	width: 160px;
	height: 44px;
	font-size: 16px;
	margin: 25px auto;
	background-color: var(--blue);
	color: #fff;
	border-radius: 5px;
	font-family: var(--ptsans);
	border: 2px solid var(--blue);
	transition: all .3s;
	cursor: pointer;
	&:hover{
		color: var(--blue);
		background-color: #fff;
	}
}









