/*Header*/ 
.header{
	padding: 0 20px 0;
	position: relative;
	z-index: 2;
}
.header__top{
	background-color: var(--grey-light);
	position: relative;
	z-index: 1;
	&::before,
	&::after{
		content: '';
		width: 20px;
		height: 100%;
		background-color: rgba(0, 0, 0, .02);
		position: absolute;
		top: 0;
	}
	&::before{
		left: -20px;
	}
	&::after{
		right: -20px;
	}
}
.header__top__contact__item{
	color: var(--blue);
	margin-right: 5rem;
	display: inline-flex;
	align-items: center;
	.ico{
		margin-right: .5em;
	}
	.text{
		sup{
			font-size: .5em;
			vertical-align: top;
		}
	}
	&:hover{
		color: var(--black);
	}
	&--lg{
		font-size: 1.125em;
		color: var(--black);
		font-weight: 700;
		.ico{
			color: var(--blue);
		}
		&:hover{
			color: var(--blue);
		}
	}
}
.header__top__menu{
	li{
		padding: 1.5em 1.5em;
		font-family: var(--ptsans);
		position: relative;
		height: 100%;
		display: flex;
		align-items: center;

		&.dropdown-link{
			& > a{
				&::after{
					content: '';
					flex: none;
					width: .625em;
					height: .4375em;
					background:transparent url('../img/icons/arrow-down_blue.svg') left top no-repeat;
					background-size: contain;
					margin-left: .5em;
					transform: translateY(.1em);
				}

			}
		}
		& > a:hover{
			color: var(--blue);
		}
		a{
			display: flex;
			align-items: center;
			width: 100%;
			height: 100%;
		}
	}
}
@media(min-width: 1200px){
	.dropdown-link{
		&:hover{
			& > a{
				color: var(--blue);
			}
			.header__top__submenu{
				transform: translateY(0);
				opacity: 1;
				visibility: visible;
			}
		}
	}
}

.header__top__submenu{
	position: absolute;
	top: 100%;
	left: 1.5em;
	width: 11em;
	border: 1px solid #0c87c9;
	transform: translateY(20%);
	opacity: 0;
	visibility: hidden;
	transition: all .3s;
	li{
		padding: 0;
		&:last-child{
			a{
				border-bottom: none;
			}
		}
		a{
			display: block;
			background-color: var(--blue);
			font-size: 1rem;
			color: #fff;
			padding: .6em 1.8em;
			border-bottom: 1px solid #0c87c9;
			&:hover{
				background-color: #fff;
				color: var(--black);
			}
		}
	}
}

.header__top__btns{
	.btn:not(:first-child){
		margin-left: 10px;
	}
}
.logo{
	display: inline-flex;
	align-items: center;
	width: 16em;
	padding-right: 1em;
	img{
		width: 100%;
	}
}
.header__main{
	background-color: #fff;
}
.header__main__center{
	flex-grow: 1;
	width: 100%;
	max-width: 1360px;
	margin: 0 auto;
	position: relative;
}
.header__main__menu{
	& > li{
		& > a{
			display: flex;
			align-items: center;
			height: 4.6111em;
			padding: 1em 2.77em;
			font-size: 1.125rem;
			background-color: rgba(#0081c6, .17);
			.ico{
				margin-left: .75em;
				color: var(--blue);
				width: 1.125em;
			}
		}
		&.catalog-li{
			a{
				background-color: var(--blue);
				color: #fff;
				.ico{
					color: #cfcfcf;
				}
			}
			.submenu{
				background-color: var(--blue);
				li{
					a{
						color: #fff;
						&::before{
							background-color: #fff;
						}
						&::after{
							background-color: #fff;
						}
					}
				}
			}
		}
	}
}
@media(min-width: 1200px){
	.header__main__menu > li:hover{
		.submenu{
			opacity: 1;
			visibility: visible;
		}
	}
}
.submenu{
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	background-color: #D7EAF6;
	display: flex;
	flex-wrap: wrap;
	font-size: 1.125rem;
	opacity: 0;
	visibility: hidden;
	transition: all .3s;
	li{
		width: 33.3333%;
		padding: 0 1em 0 5em;
		border-bottom: 1px solid #0c87c9;
		a{
			display: inline-block;
			padding: 1.1em 0 1em .8em;
			position: relative;
			color: var(--black);
			&::before{
				content: '';
				width: .3em;
				height: .3em;
				background-color: #000;
				border-radius: 50%;
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
			}
			&::after{
				content: '';
				width: calc(100% - .8em);
				height: 1px;
				background-color: #fff;
				position: absolute;
				top: 100%;
				left: .8em;
				opacity: 0;
				transition: all .3s;
			}
			&:hover{
				&::after{
					opacity: 1;
				}
			}
		}
	}
}

.header__main__search{
	flex-grow: 1;
	position: relative;
	border-right: 1px solid rgba(#090909, .1);
	form{
		width: 100%;
		height: 100%;
	}
}

.search-input{
	display: block;
	width: 100%;
	height: 100%;
	background-color: #fff;
	font-size: 16px;
	padding-left: 3em;
	padding-right: 60px;
	border: none;
	outline: none;
	animation-play-state: paused;
}
.search-btn{
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	border: none;
	outline: none;
	color: var(--blue);
	transition: all .3s;
	&:hover{
		background-color: var(--grey-light);
		color: #fff;
	}
	
}

.header-cart{
	align-items: center;
	flex-grow: 1;
	background-color: #fff;
	justify-content: center;
	padding-left: 1em;
	&:hover{
		.header-cart__current .ico{
			color: var(--black);
		}
		.gods-count{
			border-color: var(--blue);
		}
		.header-cart__total__summa{
			color: var(--blue);
		}
	}
}
.header-cart__current{
	position: relative;
	width: 4em;
	height: 3em;
	display: flex;
	align-items: flex-end;

	.ico{
		width: 2em;
		height: 1.6em;
		color: var(--blue);
		transition: all .3s;
	}
}
.gods-count{
	width: 1.9em;
	height: 1.9em;
	border-radius: 50%;
	border: 2px solid #d0d0d0;
	background-color: #fafafa;
	font-size: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	left: 28%;
	top: 5%;
	transition: all .3s;
}
.header-cart__total{
	font-family: var(--ptsans);
	padding-left: 15px;
	transform: translateY(.4em);
}
.header-cart__total__title{
	white-space: nowrap;
	font-size: .875rem;
	display: block;
	margin-bottom: .2em;
}
.header-cart__total__summa{
	white-space: nowrap;
	font-size: 1.25rem;
	font-weight: 700;
	transition: all .3s;
	&::after{
		content: 'руб';
		padding-left: .2em;
	}
}

.menu-btn{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 35px;
	margin-right: 30px;
	display: none;
	span{
		display: block;
		width: 100%;
		height: 2px;
		background-color: var(--blue);
		margin-bottom: 6px;
		&:last-child{
			margin-bottom: 0;
			width: 75%;
		}
	}
}

.header__top__mobile{
	display: none;
}

.mobile-menu{
	position: fixed;
	left: 0;
	top: 0;
	width: 90%;
	max-width: 450px;
	height: 100vh;
	overflow-y: auto;
	background-color: var(--blue);
	padding-top: 40px;
	padding-bottom: 40px;
	transform: translateX(-120%);
	visibility: hidden;
	z-index: 30;
	transition: all .3s;
	&.active{
		transform: translateX(0);
		visibility: visible;
	}
	.header__main__menu{
		display: block;
		& > li{
			&.active{
				& > a::after{
					transform: rotate(0);
				}
				.submenu{
					display: block;
				}
			}
		}
		& > li > a{
			font-size: 16px;
			height: auto;
			padding: 1.5em 20px 1.5em 30px;
			color: #fff;
			justify-content: space-between;
			border-bottom: 1px solid rgba(#fff, .2);
			&::after{
				content: '';
				width: 10px;
				height: 7px;
				background:transparent url('../img/icons/arrow-down_white.svg') left top no-repeat;
				background-size: contain;
				transform: rotate(-90deg);
			}
			.ico{
				display: none;
			}
		}
	}
	.submenu{
		position: relative;
		opacity: 1;
		visibility: visible;
		display: none;
		li{
			width: 100%;
		}
		a{
			color: var(--black);
			font-size: 14px;
		}
	}
	.header__top__menu{
		display: block;
		margin: 30px 0;
		li{
			padding: 0;
			display: block;
			a{
				font-size: 15px;
				color: #fff;
				padding: 10px 30px;
			}
		}
	}
	.header__top__submenu{
		position: relative;
		width: 80%;
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
		top: 0;
		left: 0;
		border: none;
		margin-left: 30px;
		li {
			a{
				&:hover{
					background-color: transparent;
				}
			}
		}
	}
	.header__top__contact{
		padding-left: 30px;
	}
	.header__top__contact__item{
		margin-bottom: 25px;
		display: flex;
		color: #fff;
		font-size: 16px;
		&--lg{
			.ico{
				color: #fff;
			}
		}
	}
	.btn{
		font-size: 14px;
		margin-left: 30px;
	}
}
.menu-close{
	position: absolute;
	right: 15px;
	top: 15px;
	width: 20px;
	height: 20px;
	color: #fff;
	svg{
		width: 100%;
		height: 100%;
	}
}
