/*media*/
@media(max-width: 1520px){
	html{
		font-size: .9vw;
	}
} 
@media(max-width: 1400px){
	html{
		font-size: 1vw;
	}
	.header__top__contact__item{
		margin-right: 2.5em;
	}
}
/*1400*/ 
@media (max-width: 1200px) {
	html{
		font-size: 1.2vw;
	}
	.dropdown-link{
		&.active{
			.header__top__submenu{
				transform: translateY(0);
				visibility: visible;
				opacity: 1;
			}
		}
	}
	.menu-btn{
		display: flex;
	}
	.logo{
		width: 200px;
	}
	.header__main__menu,
	.header__top__menu{
		display: none;
	}
	.header__main{
		height: 60px;
	}
	.header__top{
		padding: 12px 0;
	}
	.header__top__contact__item,
	.header__top__btns .btn,
	.header-cart__total__title{
		font-size: 12px;
	}
	.header-cart__total__summa{
		font-size: 16px;
	}
	.header__top__contact__item{
		margin-right: 15px;
	}
	.callback-popup__title{
		font-size: 20px;
	}
	.popup .agree,
	.title-link{
		font-size: 14px;
		a{
			display: block;
		}
	}
	.title{
		margin-bottom: 5em;
	}
	h1{
		font-size: 4.5rem;
	}
	h2{
		font-size: 3rem;
	}
	.product-slider .slick-arrow{
		top: -8em;
	}
	.product-slider__title,
	.status{
		font-size: 1.25rem;
	}
	.price-block{
		.old-price{
			font-size: 14px;
		}
		.current-price{
			font-size: 20px;
		}
	}
	.product-slider__img{
		height: 16em;
	}
	.to-cart{
		width: 60px;
		height: 34px;
	}
	.product-slider__row{
		height: 50px;
	}
}
/*1200*/ 

@media(max-width: 1024px){
	.popup__close{
		left: auto;
		right: 0;
		bottom: auto;
		top: 0;
	}
	.callback-popup__content{
		padding: 20px 15px;
	}
	.btn{
		font-size: 14px;
	}
	.catalog-block__title{
		font-size: 2.7rem;
	}
	.catalog-block__submenu__top .catalog-block__img{
		width: 10em;
		height: 10em;
	}
	.catalog-block__submenu__menu{
		column-count: 4;
		column-gap: 20px;
		li{
			font-size: 1.5rem;
			line-height: 1.3;
			margin-bottom: 1.5em;
		}
	}
	.arrow{
		width: 3.3em;
		height: 3.3em;
	}
	.product-slider .slick-arrow{
		width: 35px;
		height: 35px;
	}
	.product-slider .slick-arrow{
		top: -4.5em;
		right: auto;
		&.prev-arrow{
			right: auto;
			left: 0;
		}
		&.next-arrow{
			right: 0;
		}
	}
}
/*1024*/ 

@media(max-width: 768px){
	.product-slider__title, .status{
		font-size: 18px;
	}
	.product-slider__img{
		height: 180px;
	}
}
/*768*/ 

@media(max-width: 767px){
	.header__top__contact__item,
	.header__main .menu-btn,
	.header__main .logo{
		display: none;
	}
	.header__top__mobile{
		display: flex;
		align-items: center;
	}
	.header-cart__current{
		width: 35px;
		height: 45px;
	}
	.gods-count{
		width: 30px;
		height: 30px;
		font-size: 14px;
	}
	.header-cart__current .ico{
		width: 30px;
		height: 20px;
	}
	.logo{
		width: 130px;
	}
	.main-slider__item .banner{
		position: relative;
		right: 0;
		top: 0;
	}
	.main-slider .slick-list{
		padding-bottom: 0;
	}
	.main-slider__item{
		height: auto;
		padding: 30px 0;
	}
	.main-slider__item .container{
		flex-direction: column;
	}
	.main-slider__descr{
		width: 100%;
		margin-bottom: 30px;
	}
	.main-slide__title{
		font-size: 3.5rem;
	}
	.main-slide__text{
		font-size: 2rem;
		font-weight: 300;
	}
	.main-slider__item .banner{
		width: 100%;
		height: 200px;
		background-position: 0 50%;
	}
	.main-slider .slick-dots{
		bottom: -20px;
	}
	.main-slider .slick-dots li button{
		background-color: var(--blue);
	}
	.main-slider .slick-dots li.slick-active{
		border-color: var(--blue);
	}
	.banner__content{
		padding: 20px 30px;
	}
	.banner__title{
		font-size: 3rem;
	}
	.gods-name{
		font-size: 4rem;
	}
	.bage{
		font-size: 12px;
	}
	.banner .bage{
		bottom: 10px;
	}
	.old-price{
		font-size: 14px;
		font-weight: 300;
		color: var(--black);
		background-color: #fff;
		padding: 3px 5px;
	}
	.current-price{
		font-size: 16px;
		background-color: #fff;
		padding: 3px 6px;
		border-radius: 5px;
	}
	.catalog-block{
		padding-top: 30px;
	}
	.title{
		flex-direction: column;
		align-items: flex-start;
		h2{
			font-size: 30px;
			margin-bottom: 15px;
		}
	}
	.catalog-block__item{
		width: 50%;
		height: 25em;
	}
	.catalog-block__submenu__menu li{
		font-size: 14px;
	}
	.catalog-block__title{
		font-size: 3.4rem;
	}
	.arrow{
		width: 4em;
		height: 4em;
	}
	.product-slider{
		margin-top: 50px;
	}
	.product-slider .slick-arrow{
		top: -40px;
	}
}
/*767*/ 

@media(max-width: 568px){
	.header-cart__total,
	.callback .text,
	.hide-on-mobile{
		display: none;
	}
	.btn.callback{
		.ico{
			margin-right: 0;
		}
	}
	.search-input{
		padding-left: 0;
	}
	.header-cart__current{
		width: 50px;
	}
	.main-slide__title{
		font-size: 5rem;
	}
	.main-slide__text{
		font-size: 3rem;
	}
	.catalog-block__submenu__menu{
		column-count: 2;
	}
	.catalog-block__title{
		font-size: 24px;
	}
	.catalog-block__submenu__top .catalog-block__img{
		width: 14em;
		height: 14em;
	}
	.arrow{
		width: 30px;
		height: 30px;
	}
	.catalog-block__submenu{
		padding: 20px 30px;
	}
	.catalog-block__submenu__menu{
		margin-bottom: 30px;
	}
}
/*568*/ 

@media(max-width: 420px){
	.catalog-block__item{
		height: 32em;
	}
}
/*420*/ 