/*news-section*/ 
.news-section{

}
.news-slider{
	.slick-list{
		padding-bottom: 2em;
	}
	.slick-arrow{
		position: absolute;
		top: -5.5em;
		right: 12em;
		&.prev-arrow{
			right: 16em;
		}
	}
}
.news-slider__item{
	width: 22em;
	height: 21.3125em;
	position: relative;
	&::before{
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-color: rgba(#222933, .46);
	}
	&--lg{
		width: 42em;
	}
}
.news-slider__content{
	position: absolute;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
	padding: 3.75em 3em;
	z-index: 2;
	h3{
		font-size: 2.15rem;
		font-weight: 200;
		height: 2em;
		overflow: hidden;
		margin-bottom: 1em;
	}
	p{
		font-size: 1.125rem;
		font-family: var(--ptsans);
		height: 4.5em;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;  
		overflow: hidden;
	}
	.more{
		position: absolute;
		bottom: 0;
		left: 3rem;
		transform: translateY(50%);
	}
}
.news-slider__img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}